.div-clima-app {
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contenedor {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#caja1,
#caja2,
#caja3 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 20%;
  width: 200px;
  height: 200px;
}

#caja1 {
  background-color: rgba(0, 0, 0, 0.767);
  color: azure;
}
#caja2 {
  background-color: darkslateblue;
  color: azure;
}
#caja3 {
  background-color: #2ab2ea;
  color: azure;
}
